body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

#flashcard {
    width: 720px; /* หรือขนาดคงที่เช่น 400px ตามที่เหมาะสม ถ้า 60% การวางระยะห่างของอักษรจะห่างมาก*/
    height: auto; /* หรือค่าคงที่ที่เหมาะสมเพื่อควบคุมขนาด */
    padding: 20px; /* เพิ่ม padding เพื่อให้เนื้อหาไม่ติดขอบ */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em; /* ทำให้ตัวอักษรใหญ่ขึ้น */
    line-height: 0.5; /* ปรับค่านี้เพื่อควบคุมระยะห่างระหว่างบรรทัด */
    cursor: pointer;
    border: 2px solid #000;
    border-radius: 10px;
    background-color: #FFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#resetButton {
    position: fixed; /* ทำให้ปุ่มอยู่กับที่แม้ว่าหน้าเว็บจะถูก scroll */
    left: 10px; /* ตำแหน่งจากด้านซ้ายของหน้าเว็บ */
    bottom: 10px; /* ตำแหน่งจากด้านล่างของหน้าเว็บ */
    padding: 10px 20px; /* ระยะขอบใน */
    /* คุณสมบัติอื่น ๆ เพื่อปรับแต่งหน้าตาของปุ่ม */
  }

 /* Style for the dropbtn */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;

    position: fixed; /* ทำให้ปุ่มอยู่กับที่แม้ว่าหน้าเว็บจะถูก scroll */
    left: 10px; /* ตำแหน่งจากด้านซ้ายของหน้าเว็บ */
    top: 10px; /* ตำแหน่งจากด้านล่างของหน้าเว็บ */
    padding: 10px 20px; /* ระยะขอบใน */
    /* คุณสมบัติอื่น ๆ เพื่อปรับแต่งหน้าตาของปุ่ม */
  }
  
  /* Container for the dropdown */
  .dropdown {
    position: fixed; /* ทำให้ปุ่มอยู่กับที่แม้ว่าหน้าเว็บจะถูก scroll */
    left: 10px; /* ตำแหน่งจากด้านซ้ายของหน้าเว็บ */
    top: 10px; /* ตำแหน่งจากด้านล่างของหน้าเว็บ */
    padding: 10px 20px; /* ระยะขอบใน */
    display: inline-block;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown content on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropbtn on hover */
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }
  
